@*
    *   * Copyright (c) Microsoft Corporation. All rights reserved. Licensed under the MIT license.
    *   * See LICENSE in the project root for license information.
*@

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>Point</title>
    <script src="../../Scripts/jquery-1.10.2.js" type="text/javascript"></script>

    <link href="../../Content/Office.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/7.1.0/css/fabric.min.css" />
    <link rel="stylesheet" type="text/css" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.4.0/css/fabric.components.min.css" />
    <script src="https://appsforoffice.microsoft.com/lib/1/hosted/office.js" type="text/javascript"></script>
    <script src="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.4.0/js/fabric.js" type="text/javascript"></script>

    <!-- To enable offline debugging using a local reference to Office.js, use:                        -->
    <!-- <script src="../../Scripts/Office/MicrosoftAjax.js" type="text/javascript"></script>  -->
    <!-- <script src="../../Scripts/Office/1/office.js" type="text/javascript"></script>  -->

    <script>
        var timestamp = Math.random();
        document.write("<link href='../../Content/App.css?t=" + timestamp + "' rel='stylesheet' type='text/css' />");
        document.write("<script src='../../Scripts/App/App.js?t=" + timestamp + "' type='text/javascript'></s" + "cript>");
        document.write("<script src='../../Scripts/App/PowerPoint/Point.js?t=" + timestamp + "' type='text/javascript'></s" + "cript>");
    </script>
</head>
<body>
    <div id="powerpoint-addin" class="main manage">
        <div class="header">
            <div class="ms-CommandBar ms-CommandBar--navBar nav-header">
                <div class="ms-CommandBar-sideCommands">
                    <div class="ms-CommandButton n-signout" title="Sign Out">
                        <a class="ms-CommandButton-button" href="../Account/SignOut" title="Sign Out">
                            <span class="ms-CommandButton-icon ms-fontColor-themePrimary"><i class="ms-Icon ms-Icon--SignOut"></i></span>
                            <span class="ms-CommandButton-label">Sign Out</span>
                        </a>
                    </div>
                </div>
                <div class="ms-CommandBar-mainArea">
                    <div class="ms-CommandButton n-select" title="Select File">
                        <button class="ms-CommandButton-button">
                            <span class="ms-CommandButton-icon ms-fontColor-themePrimary"><i class="ms-Icon ms-Icon--Add"></i></span>
                            <span class="ms-CommandButton-label">Select File</span>
                        </button>
                    </div>
                    <div class="ms-CommandButton n-refresh" title="Refresh All">
                        <button class="ms-CommandButton-button">
                            <span class="ms-CommandButton-icon ms-fontColor-themePrimary"><i class="ms-Icon ms-Icon--Refresh"></i></span>
                            <span class="ms-CommandButton-label">Refresh All</span>
                        </button>
                    </div>
                    <div class="ms-CommandButton ms-CommandBar-overflowButton ms-CommandButton--noLabel">
                        <button class="ms-CommandButton-button">
                            <span class="ms-CommandButton-icon"><i class="ms-Icon ms-Icon--More"></i></span>
                            <span class="ms-CommandButton-label"></span>
                        </button>
                        <ul class="ms-ContextualMenu excel-page is-opened ms-ContextualMenu--hasIcons">
                            <li class="ms-ContextualMenu-item">
                                <a class="ms-ContextualMenu-link" tabindex="1"></a>
                                <i class="ms-Icon"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="content-header">
                <div class="manage-header">
                    <h3 id="lblSourcePointName">Source Points</h3>
                    <div class="search">
                        <div class="s-input">
                            <div>
                                <input type="text" id="txtSearchSourcePoint" data-default="Search by Source Point Name" />
                                <ul id="autoCompleteWrap2" class="search-tooltips"></ul>
                            </div>
                        </div>
                        <div class="s-label">
                            <label>Search Source Point Name:</label>
                            <i id="iSearchSourcePoint"></i>
                        </div>
                    </div>
                    <ul id="headerListPoints" class="point-list">
                        <li class="point-header">
                            <div class="point-header-line noscroll">
                                <div class="i2">Source Point</div>
                                <div class="i3">Published Value</div>
                            </div>
                        </li>
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="content manage-point">
            <ul id="listPoints" class="point-list">
            </ul>
            <div class="clear"></div>
            <div id="pager">
                <div>
                    Total items: <span id="pagerTotal"></span>, Page count: <span id="pagerPages"></span>, Current page: <span id="pagerCurrent"></span>
                </div>
                <div>
                    <a id="pagerPrev" href="javascript:">Prev</a><a id="pagerNext" href="javascript:">Next</a>
                    <input type="text" id="pagerValue" /><button id="pagerGo">GO</button>
                </div>
            </div>
        </div>
        <div class="footer">
            <i></i><span>Contoso O365 Doc Sync</span>
        </div>
        <div id="popupMain" class="popups">
            <div class="ms-Overlay ms-Overlay--dark popup"></div>
            <div id="popupMessage" class="popup">
                <div class="ms-Dialog success-wrapper">
                    <div class="ms-Dialog-main">
                        <i class="ms-Icon ms-Icon--CheckMark"></i>
                        <span id="lblSuccessMessage"></span>
                    </div>
                </div>
                <div id="popupErrorMain" class="ms-Dialog ms-Dialog--blocking is-open error-wrapper">
                    <div class="ms-Dialog-main">
                        <div class="ms-Dialog-header">
                            <p class="ms-Dialog-title">
                                <span><i class="ms-Icon ms-Icon--Error"></i></span>
                                <span>Error</span>
                            </p>
                        </div>
                        <div class="ms-Dialog-inner">
                            <div class="ms-Dialog-content">
                                <h6 id="lblErrorTitle" class="ms-Dialog-subText"></h6>
                            </div>
                            <ul id="lblErrorMessage"></ul>
                            <h6 id="lblErrorRepair"></h6>
                            <div class="ms-Dialog-actions">
                                <button id="btnErrorOK" class="ms-Dialog-action ms-Button ms-Button--primary">
                                    <span class="ms-Button-label">OK</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="popupProcessing" class="ms-Spinner ms-Spinner--large processing popup"></div>
            <div id="popupBrowse" class="popup">
                <div>
                    <div class="browse-file">
                        <div class="browse-filter">
                            <a href="javascript:" id="btnBrowseBack">&lt;&lt; Back</a>
                            <i id="btnBrowseCancel"></i>
                        </div>
                        <div class="browse-content">
                            <ul id="browseList"></ul>
                        </div>
                        <div class="browse-message" id="txtBrowseMessage">
                        </div>
                    </div>
                    <div class="loading" id="popBrowseLoading">
                        <div class="loading-bg"></div>
                        <i></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>