@*
    *   * Copyright (c) Microsoft Corporation. All rights reserved. Licensed under the MIT license.
    *   * See LICENSE in the project root for license information.
*@

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>Point</title>
    <script src="../../Scripts/jquery-1.10.2.js" type="text/javascript"></script>

    <link href="../../Content/Office.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/7.1.0/css/fabric.min.css" />
    <link rel="stylesheet" type="text/css" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.4.0/css/fabric.components.min.css" />
    <script src="https://appsforoffice.microsoft.com/lib/1/hosted/office.js" type="text/javascript"></script>
    <script src="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.4.0/js/fabric.js" type="text/javascript"></script>

    <!-- To enable offline debugging using a local reference to Office.js, use:                        -->
    <!-- <script src="../../Scripts/Office/MicrosoftAjax.js" type="text/javascript"></script>  -->
    <!-- <script src="../../Scripts/Office/1/office.js" type="text/javascript"></script>  -->

    <script>
        var timestamp = Math.random();
        document.write("<link href='../../Content/App.css?t=" + timestamp + "' rel='stylesheet' type='text/css' />");
        document.write("<script src='../../Scripts/App/App.js?t=" + timestamp + "' type='text/javascript'></s" + "cript>");
        document.write("<script src='../../Scripts/App/Excel/Point.js?t=" + timestamp + "' type='text/javascript'></s" + "cript>");
    </script>
</head>
<body>
    <div id="excel-addin" class="main manage">
        <div class="header">
            <div class="ms-CommandBar ms-CommandBar--navBar nav-header">
                <div class="ms-CommandBar-sideCommands">
                    <div class="ms-CommandButton n-signout" title="Sign Out">
                        <a class="ms-CommandButton-button" href="../Account/SignOut" title="Sign Out">
                            <span class="ms-CommandButton-icon ms-fontColor-themePrimary"><i class="ms-Icon ms-Icon--SignOut"></i></span>
                            <span class="ms-CommandButton-label">Sign Out</span>
                        </a>
                    </div>
                </div>
                <div class="ms-CommandBar-mainArea">
                    <div class="ms-CommandButton n-add" title="Add">
                        <button class="ms-CommandButton-button">
                            <span class="ms-CommandButton-icon ms-fontColor-themePrimary"><i class="ms-Icon ms-Icon--Add"></i></span>
                            <span class="ms-CommandButton-label">Add</span>
                        </button>
                    </div>
                    <div class="ms-CommandButton n-bulk" title="Bulk Add">
                        <button class="ms-CommandButton-button">
                            <span class="ms-CommandButton-icon ms-fontColor-themePrimary"><i class="ms-Icon ms-Icon--bulkAdd"></i></span>
                            <span class="ms-CommandButton-label">Bulk Add</span>
                        </button>
                    </div>
                    <div class="ms-CommandButton n-publish" title="Publish">
                        <button class="ms-CommandButton-button">
                            <span class="ms-CommandButton-icon ms-fontColor-themePrimary"><i class="ms-Icon ms-Icon--Upload"></i></span>
                            <span class="ms-CommandButton-label">Publish</span>
                        </button>
                    </div>
                    <div class="ms-CommandButton n-refresh" title="Refresh All">
                        <button class="ms-CommandButton-button">
                            <span class="ms-CommandButton-icon ms-fontColor-themePrimary"><i class="ms-Icon ms-Icon--Refresh"></i></span>
                            <span class="ms-CommandButton-label">Refresh All</span>
                        </button>
                    </div>
                    <div class="ms-CommandButton n-publishall" title="Publish All">
                        <button class="ms-CommandButton-button">
                            <span class="ms-CommandButton-icon ms-fontColor-themePrimary"><i class="ms-Icon ms-Icon--publishAll"></i></span>
                            <span class="ms-CommandButton-label">Publish All</span>
                        </button>
                    </div>
                    <div class="ms-CommandButton n-delete" title="Delete">
                        <button class="ms-CommandButton-button">
                            <span class="ms-CommandButton-icon ms-fontColor-themePrimary"><i class="ms-Icon ms-Icon--Delete"></i></span>
                            <span class="ms-CommandButton-label">Delete</span>
                        </button>
                    </div>
                    <div class="ms-CommandButton ms-CommandBar-overflowButton ms-CommandButton--noLabel">
                        <button class="ms-CommandButton-button">
                            <span class="ms-CommandButton-icon"><i class="ms-Icon ms-Icon--More"></i></span>
                            <span class="ms-CommandButton-label"></span>
                        </button>
                        <ul class="ms-ContextualMenu is-opened ms-ContextualMenu--hasIcons">
                            <li class="ms-ContextualMenu-item">
                                <a class="ms-ContextualMenu-link" tabindex="1"></a>
                                <i class="ms-Icon"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="ms-CommandBar ms-CommandBar--navBar nav-header">
                <div class="ms-CommandBar-sideCommands">
                    <div class="ms-CommandButton n-signout" title="Sign Out">
                        <a class="ms-CommandButton-button" href="../Account/SignOut" title="Sign Out">
                            <span class="ms-CommandButton-icon ms-fontColor-themePrimary"><i class="ms-Icon ms-Icon--SignOut"></i></span>
                            <span class="ms-CommandButton-label">Sign Out</span>
                        </a>
                    </div>
                </div>
                <div class="ms-CommandBar-mainArea">
                    <div class="ms-CommandButton n-back" title="Back">
                        <button class="ms-CommandButton-button">
                            <span class="ms-CommandButton-icon ms-fontColor-themePrimary"><i class="ms-Icon ms-Icon--Back"></i></span>
                            <span class="ms-CommandButton-label">Back</span>
                        </button>
                    </div>
                    <div class="ms-CommandButton ms-CommandBar-overflowButton ms-CommandButton--noLabel">
                        <button class="ms-CommandButton-button">
                            <span class="ms-CommandButton-icon"><i class="ms-Icon ms-Icon--More"></i></span>
                            <span class="ms-CommandButton-label"></span>
                        </button>
                        <ul class="ms-ContextualMenu excel-page is-opened ms-ContextualMenu--hasIcons">
                            <li class="ms-ContextualMenu-item">
                                <a class="ms-ContextualMenu-link" tabindex="1"></a>
                                <i class="ms-Icon"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="content-header">
                <div class="add-header">
                    <label class="ms-Label title-add" title="Add Source Point">Add Source Point</label>
                    <label class="ms-Label title-edit" title="Edit Source Point">Edit Source Point</label>
                    <div class="btnWrapper">
                        <button id="btnCancel" class="ms-Button ms-Button--primary">
                            <span class="ms-Button-label">Cancel</span>
                        </button>
                        <button id="btnSave" class="ms-Button ms-Button--primary">
                            <span class="ms-Button-label">Save</span>
                        </button>
                    </div>
                </div>
                <div class="manage-header">
                    <div class="manage-title">
                        <label class="ms-Label">Manage Source Points</label>
                    </div>
                    <div class="search">
                        <div class="s-input">
                            <div>
                                <input type="text" id="txtSearchSourcePoint" data-default="Search by Source Point Name" />
                                <ul id="autoCompleteWrap2" class="search-tooltips"></ul>
                            </div>
                        </div>
                        <div class="s-label">
                            <label class="ms-Label">Search Source Point Name:</label>
                            <i id="iSearchSourcePoint"></i>
                        </div>
                    </div>
                    <ul id="headerListPoints" class="point-list">
                        <li class="point-header">
                            <div class="point-header-line noscroll">
                                <div class="i1">
                                    <div class="ms-CheckBox all">
                                        <input tabindex="-1" type="checkbox" class="ms-CheckBox-input">
                                        <label role="checkbox" class="ms-CheckBox-field" tabindex="0" aria-checked="false" name="checkboxa"></label>
                                    </div>
                                </div>
                                <div class="i2">Source Point</div>
                                <div class="i3">Published Value</div>
                                <div class="i4">Document Value</div>
                            </div>
                        </li>
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="content add-point">
            <div class="point-item input-wrapper source-name">
                <label>Source Point Name<em>*</em></label>
                <div class="select-range">
                    <input type="text" id="txtName" />
                    <a href="javascript:" id="btnSelectName" title="Select source point name"></a>
                </div>
            </div>
            <h4 style="display: none;">Set Location</h4>
            <div class="point-item input-wrapper">
                <label>Select range:<em>*</em></label>
                <div class="select-range">
                    <input type="text" id="txtLocation" />
                    <a href="javascript:" id="btnLocation" title="Select range"></a>
                </div>
            </div>
            <div class="point-item input-wrapper select-group">
                <label>Assign to Groups:</label>
                <ul id="groupWrapper"></ul>
            </div>
            <div class="point-associated">
                <h4>Files associated with this Source Point:</h4>
                <ul id="listAssociated"></ul>
            </div>
        </div>
        <div class="content manage-point">
            <ul id="listPoints" class="ms-List point-list"></ul>
            <div class="clear"></div>
            <div id="pager">
                <label class="ms-Label">
                    Total items: <span id="pagerTotal"></span>, Page count: <span id="pagerPages"></span>, Current page: <span id="pagerCurrent"></span>
                </label>
                <div>
                    <a class="ms-Link" id="pagerPrev" href="javascript:">Prev</a><a class="ms-Link" id="pagerNext" href="javascript:">Next</a>
                    <input class="ms-TextField-field" type="text" id="pagerValue" />
                    <button id="pagerGo" class="ms-Button ms-Button--primary">
                        <span class="ms-Button-label">GO</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="content document-error">
            <label class="ms-Label">Load document ID failed.</label>
            <label class="ms-Label" id="lblDocumentIDError">Load document ID failed.</label>
            <a class="ms-Link ms-fontColor-themePrimary" id="btnDocumentIDReload" href="javascript:">Click to reload document ID</a>
        </div>
        <div class="footer">
            <i></i>
            <label class="ms-Label">O365 Doc Sync</label>
        </div>
        <div id="popupMain" class="popups">
            <div class="bg"></div>
            <div id="popupMessage" class="popup">
                <div class="success-wrapper">
                    <i></i>
                    <span id="lblSuccessMessage"></span>
                </div>
                <div id="popupErrorMain" class="error-wrapper">
                    <h5>Error</h5>
                    <h6 id="lblErrorTitle"></h6>
                    <ul id="lblErrorMessage"></ul>
                    <h6 id="lblErrorRepair"></h6>
                    <button id="btnErrorOK">OK</button>
                </div>
            </div>
            <div id="popupProcessing" class="popup processing">
                <i></i>
            </div>
            <div id="popupConfirm" class="popup">
                <div>
                    <div id="lblConfirmTitle"></div>
                    <button id="btnYes">Yes</button>
                    <button id="btnNo">No</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>