@*
    *   * Copyright (c) Microsoft Corporation. All rights reserved. Licensed under the MIT license.
    *   * See LICENSE in the project root for license information.
*@

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>Point</title>
    <script src="../../Scripts/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="../../Scripts/bignumber.min.js" type="text/javascript"></script>

    <link href="../../Content/Office.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" type="text/css" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/7.1.0/css/fabric.min.css" />
    <link rel="stylesheet" type="text/css" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.2.0/css/fabric.components.min.css" />
    <script src="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.2.0/js/fabric.js"></script>

    <script src="https://appsforoffice.microsoft.com/lib/1/hosted/office.js" type="text/javascript"></script>

    <!-- To enable offline debugging using a local reference to Office.js, use:                        -->
    <!-- <script src="../../Scripts/Office/MicrosoftAjax.js" type="text/javascript"></script>  -->
    <!-- <script src="../../Scripts/Office/1/office.js" type="text/javascript"></script>  -->

    <script>
        var timestamp = Math.random();
        document.write("<link href='../../Content/App.css?t=" + timestamp + "' rel='stylesheet' type='text/css' />");
        document.write("<script src='../../Scripts/App/App.js?t=" + timestamp + "' type='text/javascript'></s" + "cript>");
        document.write("<script src='../../Scripts/App/Word/Point.js?t=" + timestamp + "' type='text/javascript'></s" + "cript>");
    </script>
</head>
<body>
    <div id="word-addin" class="main manage">
        <div class="header">
            <div class="ms-CommandBar ms-CommandBar--navBar nav-header">
                <div class="ms-CommandBar-sideCommands">
                    <div class="ms-CommandButton n-signout" title="Sign Out">
                        <a class="ms-CommandButton-button" href="../Account/SignOut" title="Sign Out">
                            <span class="ms-CommandButton-icon ms-fontColor-themePrimary"><i class="ms-Icon ms-Icon--SignOut"></i></span>
                            <span class="ms-CommandButton-label">Sign Out</span>
                        </a>
                    </div>
                </div>
                <div class="ms-CommandBar-mainArea">
                    <div class="ms-CommandButton n-add" title="Add">
                        <button class="ms-CommandButton-button">
                            <span class="ms-CommandButton-icon ms-fontColor-themePrimary"><i class="ms-Icon ms-Icon--Add"></i></span>
                            <span class="ms-CommandButton-label">Add</span>
                        </button>
                    </div>
                    <div class="ms-CommandButton n-highlight" title="Highlight On">
                        <button class="ms-CommandButton-button">
                            <span class="ms-CommandButton-icon ms-fontColor-themePrimary"><i class="ms-Icon ms-Icon--Edit"></i></span>
                            <span class="ms-CommandButton-label">Highlight On</span>
                        </button>
                    </div>
                    <div class="ms-CommandButton n-refresh" title="Refresh All">
                        <button class="ms-CommandButton-button">
                            <span class="ms-CommandButton-icon ms-fontColor-themePrimary"><i class="ms-Icon ms-Icon--Refresh"></i></span>
                            <span class="ms-CommandButton-label">Refresh All</span>
                        </button>
                    </div>
                    <div class="ms-CommandButton n-delete" title="Delete">
                        <button class="ms-CommandButton-button">
                            <span class="ms-CommandButton-icon ms-fontColor-themePrimary"><i class="ms-Icon ms-Icon--Delete"></i></span>
                            <span class="ms-CommandButton-label">Delete</span>
                        </button>
                    </div>
                    <div class="ms-CommandButton ms-CommandBar-overflowButton ms-CommandButton--noLabel">
                        <button class="ms-CommandButton-button">
                            <span class="ms-CommandButton-icon"><i class="ms-Icon ms-Icon--More"></i></span>
                            <span class="ms-CommandButton-label"></span>
                        </button>
                        <ul class="ms-ContextualMenu excel-page is-opened ms-ContextualMenu--hasIcons">
                            <li class="ms-ContextualMenu-item">
                                <a class="ms-ContextualMenu-link" tabindex="1"></a>
                                <i class="ms-Icon"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="ms-CommandBar ms-CommandBar--navBar nav-header">
                <div class="ms-CommandBar-sideCommands">
                    <div class="ms-CommandButton n-signout" title="Sign Out">
                        <a class="ms-CommandButton-button" href="../Account/SignOut" title="Sign Out">
                            <span class="ms-CommandButton-icon ms-fontColor-themePrimary"><i class="ms-Icon ms-Icon--SignOut"></i></span>
                            <span class="ms-CommandButton-label">Sign Out</span>
                        </a>
                    </div>
                </div>
                <div class="ms-CommandBar-mainArea">
                    <div class="ms-CommandButton n-back" title="Back">
                        <button class="ms-CommandButton-button">
                            <span class="ms-CommandButton-icon ms-fontColor-themePrimary"><i class="ms-Icon ms-Icon--Back"></i></span>
                            <span class="ms-CommandButton-label">Back</span>
                        </button>
                    </div>
                    <div class="ms-CommandButton ms-CommandBar-overflowButton ms-CommandButton--noLabel">
                        <button class="ms-CommandButton-button">
                            <span class="ms-CommandButton-icon"><i class="ms-Icon ms-Icon--More"></i></span>
                            <span class="ms-CommandButton-label"></span>
                        </button>
                        <ul class="ms-ContextualMenu excel-page is-opened ms-ContextualMenu--hasIcons">
                            <li class="ms-ContextualMenu-item">
                                <a class="ms-ContextualMenu-link" tabindex="1"></a>
                                <i class="ms-Icon"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="content-header">
                <div class="add-header">
                    <label class="ms-Label" title="Add Destination Point">Add Destination Point</label>
                    <label class="ms-Label" title="Update Custom Format">Update Custom Format</label>
                    <div class="btnWrapper">
                        <button id="btnCancel">Cancel</button>
                        <button id="btnAdd">Add</button>
                        <button id="btnSave">Save</button>
                        <button id="btnNext">NEXT</button>
                    </div>
                </div>
                <div class="manage-header">
                    <div class="manage-title">
                        <label class="ms-Label" title="Manage Destination Points">Manage Destination Points</label>
                        <div>
                            <div id="btnMoveUp" title="Up" class="ms-CommandButton">
                                <button class="ms-CommandButton-button">
                                    <span class="ms-CommandButton-icon ms-fontColor-neutralSecondary"><i class="ms-Icon ms-Icon--CaretSolidUp"></i></span>
                                </button>
                            </div>
                            <div id="btnMoveDown" title="Down" class="ms-CommandButton">
                                <button class="ms-CommandButton-button">
                                    <span class="ms-CommandButton-icon ms-fontColor-neutralSecondary"><i class="ms-Icon ms-Icon--CaretSolidDown"></i></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="search">
                        <div class="s-input">
                            <div>
                                <input type="text" id="txtSearchSourcePoint" data-default="Search by Source Point Name" />
                                <ul id="autoCompleteWrap2" class="search-tooltips"></ul>
                            </div>
                        </div>
                        <div class="s-label">
                            <label class="ms-Label">Search Source Point Name:</label>
                            <i id="iSearchSourcePoint"></i>
                        </div>
                    </div>
                    <ul id="headerListPoints" class="point-list">
                        <li class="point-header">
                            <div class="point-header-line noscroll">
                                <div class="i1">
                                    <!--<div class="ckb-wrapper all">
                                        <input type="checkbox" />
                                        <i></i>
                                    </div>-->
                                    <div class="ms-CheckBox">
                                        <input tabindex="-1" type="checkbox" class="ms-CheckBox-input">
                                        <label role="checkbox" class="ms-CheckBox-field" tabindex="0" aria-checked="false" name="checkboxa"></label>
                                    </div>
                                </div>
                                <div class="i2">Source Point</div>
                                <div class="i3">Value</div>
                            </div>
                        </li>
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="content add-point">
            <div class="add-point-first">
                <h4 class="height-item">Select File<em>*</em></h4>
                <div class="point-item input-wrapper height-item">
                    <div class="input-dropdown">
                        <input type="text" id="txtFile" disabled="disabled" data-default="Select a file..." />
                        <span id="btnOpenBrowse"><i>Browse</i></span>
                    </div>
                </div>
                <div class="point-search point-item input-wrapper height-item">
                    <label>Search within document:</label>
                    <div class="input-search">
                        <input type="text" id="txtKeyword" data-default="Search by Source Point Name" />
                        <i id="iSearch"></i>
                        <ul id="autoCompleteWrap" class="search-tooltips"></ul>
                    </div>
                </div>
                <div class="point-filter">
                    <div class="filter-header height-item">
                        <span><em>Filter by</em><i></i></span>
                    </div>
                    <div class="filter-list">
                        <h5>Filter by Groups:</h5>
                        <ul id="filterList"></ul>
                    </div>
                </div>
                <div class="point-result">
                    <h4 class="height-item">Search results<em>*</em></h4>
                    <ul id="resultList"></ul>
                    <div id="resultNotFound">No results found.</div>
                </div>
            </div>
            <div class="add-point-second">
                <div class="add-point-info">
                    <h4 class="add-point-source i-success">Selected Source Point<i></i></h4>
                    <div class="add-point-files">
                        <span id="selectedName"></span>
                        <span id="selectedFile"></span>
                    </div>
                    <h4 class="add-point-cursor">Next, place your cursor in the document where you want the source value displayed, then click "Add".<i></i></h4>
                </div>
                <div class="add-point-customformat">
                    <h4 class="add-point-source">Select Custom Format<i></i></h4>
                    <div class="add-point-preview">
                        <label>Preview:</label><span id="lbPreviewValue"></span>
                    </div>
                    <div id="addCustomFormat" class="add-point-format">
                        <div class="add-point-place">
                            <label>Decimal place:</label>
                            <span><i class="i-increase" title="Increase decimal places"></i><i class="i-decrease" title="Decrease decimal places"></i></span>
                        </div>
                        <div class="add-point-select">
                            <a id="btnSelectFormat" href="javascript:"></a>
                            <i id="iconSelectFormat"></i>
                            <ul id="listFormats"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content manage-point">
            <ul id="listPoints" class="point-list"></ul>
            <div class="clear"></div>
            <div id="pager">
                <div>
                    Total items: <span id="pagerTotal"></span>, Page count: <span id="pagerPages"></span>, Current page: <span id="pagerCurrent"></span>
                </div>
                <div>
                    <a id="pagerPrev" href="javascript:">Prev</a><a id="pagerNext" href="javascript:">Next</a>
                    <input type="text" id="pagerValue" /><button id="pagerGo">GO</button>
                </div>
            </div>
            <div id="tlpMessage" class="tooltip-message">
                <i id="tlpClose" title="Close"></i>
                <div>The document is not in sync with the catalog, please click refresh to synchronize.</div>
            </div>
        </div>
        <div class="content document-error">
            <p>Load document ID failed.</p>
            <span id="lblDocumentIDError"></span>
            <a id="btnDocumentIDReload" href="javascript:">Click to reload document ID</a>
        </div>
        <div class="footer">
            <i></i>
            <label class="ms-Label">Contoso O365 Doc Sync</label>
        </div>
        <div id="popupMain" class="popups">
            <div class="bg"></div>
            <div id="popupMessage" class="popup">
                <div class="success-wrapper">
                    <i></i>
                    <span id="lblSuccessMessage"></span>
                </div>
                <div id="popupErrorMain" class="error-wrapper">
                    <h5>Error</h5>
                    <h6 id="lblErrorTitle"></h6>
                    <ul id="lblErrorMessage"></ul>
                    <h6 id="lblErrorRepair"></h6>
                    <button id="btnErrorOK">OK</button>
                </div>
            </div>
            <div id="popupProcessing" class="popup processing">
                <i></i>
            </div>
            <div id="popupConfirm" class="popup">
                <div>
                    <div id="lblConfirmTitle"></div>
                    <button id="btnYes">Yes</button>
                    <button id="btnNo">No</button>
                </div>
            </div>
            <div id="popupBrowse" class="popup">
                <div>
                    <div class="browse-file">
                        <div class="browse-filter">
                            <a href="javascript:" id="btnBrowseBack">&lt;&lt; Back</a>
                            <i id="btnBrowseCancel"></i>
                        </div>
                        <div class="browse-content">
                            <ul id="browseList"></ul>
                        </div>
                        <div class="browse-message" id="txtBrowseMessage">
                        </div>
                    </div>
                    <div class="loading" id="popBrowseLoading">
                        <div class="loading-bg"></div>
                        <i></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>